NODE_ENV=development
PORT=3333

DATABASE_URL=postgresql://user:password@localhost:5432/blinky

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
